
@{
	ViewBag.Title = "Registration";
}

<style>
	.hide {
		display: none;
	}

	.new-clinic, .new-prescriber, .new-secondary-contact {
		display: grid;
	}

	.container textarea {
		min-height: 400px;
		min-width: 300px;
		width: 300px;
	}
</style>

<h2>Register</h2>

<div class="container">
	<ul>
		<li><a href="../React/HelloWorld">Hello World</a></li>
		<li><a href="../React/HelloWorldAjax">Hello World Ajax</a></li>
		<li><a href="../React/TextField">Text Field</a></li>
		<li><a href="../React/TextFieldError">Text Field Error</a></li>
		<li><a href="../React/Register">Register</a></li>
		<li><a href="../React/RegisterImmutable">Register with Immutable</a></li>
		<li><a href="../React/Route">Route</a></li>
		<li><a href="../React/RegisterJest">Register Jest</a></li>
	</ul>
</div>